<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"  class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#"><i class=" icon-cloud"></i> Reloud</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#"><i class="glyphicon glyphicon-tasks"></i> Redis集群管理</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-scale"></i> Redis监控</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-bookmark"></i> AboutUs</a></li>
            </ul>

        </div>

    </div>
</div>